<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>Practice Page</title>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <meta charset="UTF-8">
</head>


<body>
    <div class="container">
        <div class="row">
            <!--　画像の挿入！　-->
            <div class="bgimg" >
                <img th:src="@{/img/sample.jpg}">
            </div>
            <!-- コメント欄 -->
            <div id= "commentsec" class="row">
                <div class="message">
                    <!--　コメント書いてね♥　-->
                    <div></div>
                    <p>わたしの名前はめぐちゃん！よろしくね〇〇君</p>
                    <p>おなかすいたなー　何食べよう</p>
                    <!--　ボタン　-->
                    <div class="selectbtn">
                        <a href="#" class="btn btn-default">A:選択肢文章</a>
                        <a href="#" class="btn btn-default">B選択肢文章</a>
                    </div>
                </div>
        </div>


        </div>
    </div>


</body>
</html>

<style>
    .message{
        background: #ffc0cb;
        opacity: 0.9;
        text-align: center;
        color: black;
        border-radius: 10px;
        border:3px black solid;
        padding: 10px;
    }


    #commentsec{
        padding: 0 30px;
        margin-top: 500px;
    }
    p{
        font-size:30px;
    }

    img{
        padding: 10px;
        width: 90%;
        height: 90vh;
        border:pink 2px solid;
        border-radius: 10px;
        background-image: url("../static/img/sample.jpg");
        position: absolute;
        right: 70px;
        left: 70px;
        top: 30px;
    }
    .bgimg{
        text-align: center;
    }


