<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Practice Page</title>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <meta charset="UTF-8">
</head>


<body>
    <div class="container">
        <div class="row">
            <div class="bgimg">
            </div>
        </div>
        <!-- コメント欄 -->
        <div id= "commentsec" class="row">
            <div class="message">
                <div></div>
                <p>わたしの名前はめぐちゃん！よろしくね〇〇君</p>
                <p>おなかすいたなー　何食べよう</p>
                <div class="selectbtn">
                    <a href="#" class="btn btn-default">A:選択肢文章</a>
                    <a href="#" class="btn btn-default">B選択肢文章</a>
                </div>
            </div>

        </div>
    </div>


</body>
</html>

<style>
    .message{
        background: #ffc0cb;
        opacity: 0.5;
        text-align: center;
        color: black;
        border-radius: 10px;
        border:3px black solid;
        padding: 10px;
    }


    #commentsec{
        padding: 0 30px;
    }
</style>